.before-header-panel-outlet {

    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: center;
    width: 100%;
    height: 100%;
    margin-top: 22px;
}

#autocomplete {
    width: 100%;
}

.aa-Form {
    width: 50vw;
    display: flex;
    justify-content: center;
}

.aa-InputWrapperPrefix,
.aa-InputWrapperSuffix {
    display: none;
}

.aa-InputWrapper {
    width: 100%;
}

.aa-Autocomplete {
    //min-width: 100%;
    display: flex;
    justify-content: center;

    input[type=search]:focus {
        outline: none;
    }
}

#autocomplete-0-input {
    min-width: 100%;
    border-radius: 8px;
    padding: 10px 10px;
    font-size: 16px;
    color: $satellite-600;
    background-color: $primary-600;
    border: solid 1px $primary-300;
    box-shadow: none;
    margin-bottom: 0px;


    &:focus,
    &:active {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        border: solid 2px $primary-100;
    }

}



.aa-Panel {
    z-index: 100;
    color: $satellite-300 ;
    background-color: #13222A;
    width: 50vw !important;
    max-height: 90vh;
    overflow-y: scroll;
    border-bottom-left-radius: $corner-md;
    border-bottom-right-radius: $corner-md;
    border: 1px solid $primary-300;
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.4);
}


mark {
    background-color: $primary-300;
    color: $satellite-300;
}

h3 mark {
    font-family: 'Aeonik-Medium', sans-serif;
}

p mark {
    font-weight: 500;
}


.aa-SourceHeader {
    margin: 0 !important;
    background-color: $primary-400 !important;
    color: $primary-50;

    h2 {
        font-family: 'Aeonik-Medium', sans-serif;
        font-size: 1.3em;
        padding: 6px 12px !important;
        font-weight: 600;
        margin-bottom: 0;
    }
}


.aa-Panel--scrollable {
    padding: 0 !important;
}

ul.aa-List {

    list-style-type: none !important;
    margin: 0;
}

.aa-Item {
    padding: 8px 12px !important;
    border-bottom: $primary-300 1px solid;

    background-color: $primary-600;

    h3 {
        font-family: 'Aeonik-Medium', sans-serif;
        color: $satellite-500;
        margin-bottom: 4px;
    }

    p {
        font-size: 1em;
        color: $satellite-400;
        margin-bottom: 4px;
    }

    &[aria-selected="true"] {
        background-color: $primary-400 !important;
    }
}



.aa-SubmitIcon {
    color: #98A9A7 !important;
}



::placeholder {
    color: #98A9A7 !important;
    opacity: 1;
}