.btn {
    color: $text-color;
    border-radius: $corner-2xl;
}

#topic-footer-buttons {

    .btn-icon-text:hover {
        background-color: $primary-200;
    }

}

button.widget-button {
    &.btn-flat {
        svg {
            color: $satellite-600;
        }

        &.d-hover>svg {
            color: $primary-50 !important;
        }
    }

}