div.edit-category {
    .edit-category-title-bar {
        background-color: $nebula;
        border-bottom: 1px solid $primary-300;
    }
}

.badge-category__wrapper {
    .badge-category {
        &:before {
            border-radius: .625rem;
        }

        &__name {
            color: $satellite-300;
        }
    }
}

.categories-and-latest {
    tr {
        border-bottom: 1px solid $primary-300 ;
    }

    .table-heading {
        border-bottom: 3px solid $primary-300 ;

    }
}

.category-list {
    thead {
        font-family: "Aeonik-Regular";
        font-size: 1.2rem;

        tr {
            border-bottom: 3px solid $primary-300 ;

        }

        th {
            color: $satellite-600;
        }
    }


    tbody {
        .category {
            h3 {
                a[href] {
                    color: $satellite-300;
                    font-family: "Aeonik-Medium";
                }
            }
        }


    }

    .category-description span {
        color: $satellite-600;
    }

    span.value {
        color: $satellite-600;
    }
}

.latest-topic-list {
    .table-heading {
        font-family: "Aeonik-Regular";
        color: $satellite-600;
        font-size: 1.2rem;
    }

    .heading {
        color: $satellite-100;
        font-family: "Aeonik-Medium";
    }

    .latest-topic-list-item {
        border-bottom: 1px solid $primary-300;

        .top-row {
            a {
                color: $satellite-300;

                &:visited {
                    color: $satellite-600;
                }
            }
        }
    }

    span.number {
        color: $satellite-600;
    }
}