$horizon: #FC5200;
$nebula: #15252D;
$regolith: #FFEADB;
$satellite: #CFD7D6;
$aurora: #00FCB5;
$titan: #FCD200;
$neptune: #0083FC;
$cosmos: #7B00C7;


$satellite-700: #7C928F;
$satellite-600: #98A9A7;
$satellite-500: #B4C0BE;
$satellite-400: $satellite;
$satellite-300: #ECEFEF;
$satellite-200: #F9FAFA;
$satellite-100: #FFF;

$primary: #5C96B2;
$primary-low: #15252D;
$primary-very-low: #0d171c;
$primary-low-mid: #17303c;
$primary-medium: #254250;
$primary-high: #5C96B2;
$primary-very-high: #5C96B2;
$primary-50: #5C96B2;
$primary-100: #467B95;
$primary-200: #365E72;
$primary-300: #254250;
$primary-400: #17303c;
$primary-500: #15252D;
$primary-600: rgb(13, 23, 28);
$primary-700: #0B1418;
$primary-800: #0B1418;
$primary-900: #000000;
$header_primary-low: $satellite;
$header_primary-low-mid: $satellite;
$header_primary-medium: $satellite;
$header_primary-high: $satellite;
$header_primary-very-high: $satellite;
$secondary-low: $satellite;
$secondary-medium: $satellite;
$secondary-high: $titan;
$secondary-very-high: $titan;
$tertiary-very-low: $satellite;
$tertiary-low: $primary-300;
$tertiary-medium: $horizon;
$tertiary-high: $horizon;
$tertiary-hover: $horizon;


$secondary: $nebula;
$tertiary: #5C96B2;
$quaternary: $aurora;
$header_background: $nebula;
$header_primary: $satellite;
$highlight: $aurora;
$danger: $cosmos;
$success: $aurora;
$love: $neptune;
$selected: $primary-400;

$hover: $primary-300;

$text-color: $satellite-200;