$horizon: #FC5200;
$nebula: #15252D;
$regolith: #FFEADB;
$satellite: #CFD7D6;
$aurora: #00FCB5;
$titan:#FCD200;
$neptune: #0083FC;
$cosmos: #7B00C7;

$primary: #254250;
$primary-low: #15252D;
$primary-very-low: #0B1418;
$primary-low-mid: #17303c;
$primary-medium: #254250;
$primary-high: #365E72;
$primary-very-high: #5C96B2;
$primary-50: #5C96B2;
$primary-100: #467B95;
$primary-200: #365E72;
$primary-300: #254250;
$primary-400: #17303c;
$primary-500: #15252D;
$primary-600: #0B1418;
$primary-700: #0B1418;
$primary-800: #0B1418;
$primary-900: #000000;
$header_primary-low: $satellite;
$header_primary-low-mid: $satellite;
$header_primary-medium: $satellite;
$header_primary-high: $satellite;
$header_primary-very-high: $satellite;
$secondary-low: $regolith;
$secondary-medium: $regolith;
$secondary-high: $regolith;
$secondary-very-high: $regolith;
$tertiary-very-low: $regolith;
$tertiary-low: $regolith;
$tertiary-medium: $horizon;
$tertiary-high: $horizon;
$tertiary-hover: $horizon;


$secondary: $nebula;
$tertiary: $horizon;
$quaternary: $aurora;
$header_background: $nebula;
$header_primary: $satellite;
$highlight: $aurora;
$danger: $cosmos;
$success: $titan;
$love: $neptune;
$selected: $primary-400;
$hover: $primary-100;

$text-color: rgb(199, 207, 206);