#upcoming-events-calendar.fc-unthemed {

    td {
        border-color: $primary-300 ;
    }

    .fc-bg td.fc-today {
        border-color: $primary-300 ;
        background-color: $aurora;
        color: $primary-600;
    }

    .fc-button {
        color: $primary-50;

        &:hover {
            background: $primary-600;
            color: $primary-100;
        }
    }


}

#event-popover {
    background-color: $primary-300;
}