#upcoming-events-calendar.fc-unthemed {

    td {
        border-color: $primary-300 ;
    }

    .fc-button {
        color: $primary-100;
    }

    .fc-today {
        background-color: $aurora;
        color: white;
    }

}

#event-popover {
    background-color: $primary-300;
}