.groups-index {

    .groups-boxes {
        .group-box {
            .groups-info-name {
                color: $satellite-400;
            }

            .group-box-inner {
                .group-description {
                    color: $satellite-300;
                }

                .group-user-count .d-icon {
                    color: $primary-200;
                }
            }

            .group-membership {
                color: $primary-100;
            }
        }
    }

    .group-box {
        color: $satellite-400 !important;
        border: 1px solid $primary-300;
        border-radius: $corner-md;

        .group-info-name {
            color: $satellite-400;
        }
    }

}