// topic list is both in categories and topics
.topic-list {
    thead {
        border-bottom: 4px solid $primary-300;
        font-family: "Aeonik-Regular";

    }

    td {
        color: $satellite-600;
    }

    tr {
        border-bottom: 1px solid $primary-300;
    }

    th {
        color: $satellite-600;

    }

    .topic-list-item-separator .topic-list-data {
        border-top: 1px solid $primary-300;

        span {
            color: $primary-200;
        }
    }

    .main-link a.title {
        color: $satellite-300;
        font-family: "Aeonik-regular";
    }



    .topic-list-item {

        &.visited .topic-list-data a.title:not(.badge-notification) {
            color: $satellite-600;
        }

        .link-bottom-line .discourse-tag {
            color: $primary-100;
            padding: 0px 4px;
            border-radius: 3px;
            background-color: $primary-400;

        }
    }
}

#topic-title h1 a {
    color: $satellite-300;
}

.topic-map__contents .topic-map__stats.--single-stat button span {
    color: $satellite-600 !important;
}

.topic-body {

    .cooked details,
    details .d-editor-preview,
    details.details__boxed {
        border: 1px solid $primary;
        color: $text-color;
        border-radius: $corner-sm;
    }
}

.footer-message {
    color: $satellite-600;
}