@import "colors";

#main-outlet-wrapper.wrap {
    margin: 0;


    //padding: 0;
    .sidebar-wrapper {
        border-right: none;

    }



}


.chat-header-icon {
    display: none !important;
}

.modal-container {
    .fk-d-menu-modal.list-control-toggle-link-content .dropdown-menu a {
        color: $primary-100;


        &.active {
            color: $primary-50;
        }
    }
}