@import "colors";
@import "variables";
@import "topics";
@import "sidebar";
@import "categories";
@import "header";
@import "btns_and_links";
@import "form_elements";
@import "nav";

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


@font-face {
    font-family: "Aeonik-Bold";
    src: url($aeonik-bold) format('woff2')
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Aeonik-Bold"
}


body {
    background-color: $nebula;
    font-family: "Inter", sans-serif;
    font-weight: 300;
    color: $text-color ;
}

a {
    color: $primary-50;

    &:visited {
        color: $primary-200;
    }
}

blockquote {
    background-color: $nebula;
    border-left: 4px solid $satellite-700;
}



table th {
    color: $text-color;
}

.nav a {
    color: $text-color;
}


#main-outlet-wrapper {
    margin: 0;
}

body:not(.ios-safari-composer-hacks) #reply-control.open {
    border-radius: $corner-md $corner-md 0 0;
}

.open .grippie {
    border-radius: $corner-md $corner-md 0 0;
    color: $primary-50 ;

    &:before {
        border-top: 3px double $primary-200;
    }
}


#main-outlet {
    color: $text-color;
}


.user-main {
    background-color: $nebula;
    color: $text-color !important;
}


#banner-content {
    color: $text-color;
}

#banner button {
    color: $primary-200;
}

.settings .setting .desc {
    color: $satellite-600;
}