@import "colors";
@import "variables";
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


body {
    background-color: $nebula;
    font-family: "Inter", sans-serif;
    font-weight: 300;
    color: $text-color ;
}

a{
    color: $primary-50;
    &:visited{
        color: $primary-200;
    }
}

.nav a{
    color: $text-color;
}

label {
    color: $satellite-700;
}
input {
    color: $satellite-600;
}
input[type=text]{
    border: 1px solid $primary-200;
    outline: none;
    border-radius: 0;
}
input[type=text]:focus {
    border: 1px solid $primary-50;
}
.color-picker .add-on{
    border: 1px solid $primary-200;
    border-right:none ;
    border-top-left-radius: $corner-md;
    border-bottom-left-radius: $corner-md;

}
input.hex-input {

    border: 1px solid $primary-200;
    color: $satellite-600;
    
}
input[type=text]:not(.hex-input)  {
    color: $satellite-600;
    border-radius: $corner-md;
}

div.edit-category .edit-category-title-bar {
    background-color: $nebula;
    border-bottom: 1px solid $primary-300;
}

.topic-body .cooked details, details .d-editor-preview, details.details__boxed {
    //background-color: #0d171c ;
    border: 1px solid $primary;
    color: $text-color;
    border-radius: $corner-sm;
}

#main-outlet-wrapper {
    margin: 0;
}
body:not(.ios-safari-composer-hacks) #reply-control.open {
    border-radius: $corner-md $corner-md 0 0 ; 
}
.open .grippie {
    border-radius: $corner-md $corner-md 0 0 ;
    color: $primary-50 ;
    &:before {
        border-top: 3px double $primary-200;
    }
}

.sidebar-section-link-wrapper .sidebar-section-link-prefix .prefix-span {
    border-radius: .8em;
    width: .8em;
    height: .8em;
}
.badge-category__wrapper .badge-category:before {
    border-radius: .625rem;
}

body.has-sidebar-page .wrap {
    margin: 0;
    max-width: 100%;
}

#main-outlet{
    color: $text-color;
}

blockquote  {
    background-color: $nebula;
    border-left:4px solid $satellite-700; 
}


#topic-title h1 a {
    color: $text-color;
}

.topic-list td {
    color: $text-color;
}

.topic-list .main-link a.title {
    color: $text-color;
}
.badge-category__wrapper .badge-category__name  {
    color: $text-color;
}
.topic-list-item.visited .topic-list-data a.title:not(.badge-notification){
    color: $text-color;
}

.topic-list .topic-list-item-separator .topic-list-data{
    border-top: 1px solid $primary-300;
    span{
        color: $primary-200;
    }
}

table th {
    color: $text-color;
}

.nav-pills>li>a {
    color: $text-color;
}

.nav-pills>li a.active, .nav-pills>li button.active {
    color: #FFF;
    font-weight: 600;
}

.nav-pills>li a.active:after, .nav-pills>li button.active:after{
    height: 4px;
    background-color: $primary-50;
}

.btn{
    color: $text-color; 
    border-radius: $corner-md;
}

.d-header {
   border-bottom: 1px solid $primary-medium;
}
.sidebar-section-wrapper {
    border-bottom: 1px solid $primary-medium;
}

.header-sidebar-toggle button .d-icon, .d-header-icons .d-icon {
    color: $text-color !important;

}

.sidebar-section-link-wrapper .sidebar-section-link .sidebar-section-link-prefix.icon {
    color: $primary-200;
}
.sidebar-section-link-wrapper .sidebar-section-link.active .sidebar-section-link-prefix.icon {
    color: $primary-50;
}

.sidebar-wrapper{
    border-right: 1px solid $primary-medium;
}
.sidebar-wrapper .sidebar-sections{
    padding: 1.5rem 0  1rem;
}

.sidebar-wrapper,
.sidebar-container,
.sidebar-footer-wrapper {
 background-color: $nebula;
}

.nav-pills>li a.active .d-icon, .nav-pills>li button.active .d-icon {
    color: $primary-50;
}

.btn-primary {
    background-color: $primary-50;
    color: $nebula;
    border-radius: 20px;
    padding: 8px 15px;
}

.empty-state {
    color: $primary-200;
}

.select-kit.combo-box .select-kit-header 
{
    border-radius: $corner-md;
    border: 1px solid $primary-200;
}
.select-kit.is-expanded .select-kit-body{
    border: 1px solid $primary-200;
    border-radius: $corner-md;
} 

.list-controls .combo-box .combo-box-header{
    border-radius: $corner-sm;
}

.select-kit.single-select.is-expanded .select-kit-header:not(.btn), .select-kit.single-select .select-kit-header:not(.btn):focus, .select-kit.single-select .select-kit-header:not(.btn):active{
    outline: 1px solid $primary-200;
    border: none;
    outline-offset: -1px;
    border-radius: $corner-md;
}
// .list-controls .combo-box .combo-box-header {
//     background-color: $nebula;
//     color: $regolith;
//     border-radius: 20px;
//     padding: 5px 15px;
// }

// .btn {
//     background-color: $nebula;
//     color: $regolith;
//     border-radius: 20px;
//     padding: 8px 15px;

// }

// .select-kit.combo-box.category-drop .category-drop-header {
//     color: $regolith;

// }

.sidebar-section-wrapper .sidebar-section-header {
    color: $text-color !important;
}

// span.sidebar-section-link-prefix.icon{
//     color: $satellite !important;
// }


.sidebar-section-link-content-text {
    color: $satellite;
}

.user-main{
    background-color: $nebula;
    color: $text-color !important;

}
.topic-list .topic-list-item {
    color: $text-color !important;
}