.header-sidebar-toggle {
    display: none;
}

#main-outlet-wrapper {
    display: flex;
    justify-content: center;
}

.sidebar-wrapper {
    flex: 0 0 auto;
}

#main-outlet {
    max-width: 1200px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}